<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fyp.privacyguard">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.PrivacyGuard"
        tools:targetApi="n">

        <activity
            android:name=".core.ListActivity"
            android:launchMode="singleTask" />
        <service android:name=".service.AppService" />
        <service android:name=".service.AlarmService" />
        <service android:name=".service.PhoneLogService"
            android:foregroundServiceType="camera"/>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="ALARM_RECEIVER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".core.SettingsActivity"
            android:parentActivityName=".core.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.ListActivity" />
        </activity>
        <activity
            android:name=".core.DetailActivity"
            android:parentActivityName=".core.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.ListActivity" />
        </activity>
        <activity
            android:name=".core.IgnoreActivity"
            android:parentActivityName=".core.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.ListActivity" />
        </activity>
        <activity
            android:name=".core.AboutActivity"
            android:parentActivityName=".core.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.ListActivity" />
        </activity>

        <activity
            android:name=".core.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PrivacyGuard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.ui.FullscreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.PrivacyGuard.Fullscreen">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".receiver.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED"/>
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>